$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {

  background-color: #f7f7f7;

}

.main-container {

  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 9px;
  background-color: #4099f5;

}

.header {

  text-align: center;

  h1 {

    font-family: 'Lobster', Arial;
    font-size: 5em;
    color: #fff;
    margin-bottom: 35px;

  }

}

.invalid {

  display: table;
  width: 450px;
  height: 60px;
  background-color: #ff4d4d;
  text-align: center;
  border-radius: 7px;
  margin: 20px auto 20px auto;

  p {

    font-size: 2em;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;

  }

}

.form-container {

  text-align: center;

  .query-input {

    width: 80%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 7px 0px 0px 0px;
    border: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 1.4em;
    padding: 2px;

  }

  .field-false {

    background-color: #ffd1d1;

  }

  .query-button {

    padding: 0;
    margin: 0;
    display: inline-block;
    width: 10%;
    height: 40px;
    background-color: #ff4d4d;
    border: none;
    border-radius: 0px 7px 0px 0px;
    font-size: 1.4em;

  }

}

.none-found {

  margin: 0 auto;
  width: 450px;
  height: 60px;
  background-color: #ff4d4d;
  border-radius: 7px;
  display: inline-block;
  text-align: center;
  display: table;

  p {

    font-size: 2em;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;

  }

}

.tweet-container {

  width: 960px;
  margin: 0 auto;

  .tweet {
  
    display: block;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: left;
  
    .tweet-name {
  
      margin-bottom: 18px;
  
      h3 {
  
        display: inline;
        margin-right: 20px;
        font-weight: bold;
  
      }
  
      h5 {
  
        font-weight: bold;
        display: inline;
        color: #595959;
  
      }
  
    }
  
  }

}

.history-container {

  width: 90%;
  margin: 0 auto 50px auto;

  .history {

    background-color: #393939;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    transition: 
      max-height 1s,
      padding 0.1s;
    max-height: 100em;

    ul {

      margin: 0;
      padding: 0;
      text-align: center;

      li {

        padding: 5px;
        margin: 5px;
        display: inline-block;
        list-style-type: none;
        font-size: 1.3em;
        width: 80%;
        background-color: #585858;
        border-radius: 7px;

        a:hover {

          color: #757575 !important;
          text-decoration: none;

        }

        a {

          color: #848484 !important;

        }

      }

    }

  }

  .history:not(.active) {
    max-height: 0;
    padding: 0;
  }

  .history-button {

    width: 100%;
    background-color: #191919;
    border-radius: 0px 0px 7px 7px;
    height: 15px;

  }


}