<form>

    <div class="row">
      <div class="header">
        <h1>Tweeny</h1>
      </div>
      <div class="form-container" ng-form="searchForm">
        <input class="query-input" type="text" ng-pattern="/^([\#a-z0-9\_]|\s){2,}$/i" ng-model="query" ng-required="true" ng-class="searchForm.$error.pattern[0].$invalid ? 'field-false' : ''"><!--
        --><button type="submit" ng-click="search(query); clicked = true" class="query-button">Search</button>
      </div>

      <div>
        <ul>
          <li ng-repeat="prev in getHistory(10) track by $index">
            <a ng-click="query = prev;search(query);">{{prev}}</a> 
          </li>
        </ul>
      </div> <!-- find a better way of doing this -->

      <div class="invalid" ng-show="badclick">
        <p>Invalid query!</p>
      </div>
    </div>

    <div class="row">
      <div style="text-align: center;">
        <div class="progress" ng-show="isSearching" style="width: 90%; display: inline-block;">
          <div class="progress-bar progress-bar-striped active" style="width: 100%">
            <span>Loading...</span>
          </div>
        </div>
      </div>
      <div class="tweet-container" ng-hide="isSearching" masonry>
        <div class="tweet masonry-brick" ng-repeat="tweet in tweets">
          <div class="tweet-name"> 
            <h3>{{tweet.user}}</h3>
            <h5>{{tweet.screenName}}</h5>
          </div>
          <div class="tweet-body">
            <p>{{tweet.body}}</p>
            <a href="{{tweet.link}}">Source</a>
          </div>
        </div>
      </div>
      <div style="text-align: center;">
        <div class="none-found" ng-show="tweets.length == 0 && clicked && !isSearching">
          <p>No tweets found!</p>
        </div>
      </div>
    </div>

</form>
